input:checked~.dot {
    transform: translateX(100%);
    /* background-color: #132b50; */
}

.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
}


/* card stack */

[card-stack] {
    will-change: transform;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  
  [name="card-set"] {
    display: none;
  }
  [name="card-set"]:checked + [card] {
    display: flex;
    opacity: 1;
    /* filter: blur(0); */
    transform: translateY(0) scale(1);
    transition: transform 1s, opacity 1s, filter .25s;
    transition-delay: .3s;
    z-index: 0;
  }
  [name="card-set"]:checked + [card] ~ [card] {
    z-index: -1;
    display: flex;
    opacity: .9;
    /* filter: blur(1px); */
    transform: translateY(-1.2rem) scale(.95);
    transition: transform 1.5s, opacity 1.5s, filter .5s;
    transition-delay: .4s;
  }
  [name="card-set"]:checked + [card] ~ [card] ~ [card] {
    z-index: -2;
    display: flex;
    opacity: .7;
    filter: blur(2px);
    transform: translateY(-2.4rem) scale(.9);
    transition: transform 2s, opacity 2s, filter 1.5s;
    transition-delay: .5s;
  }
  [name="card-set"]:checked + [card] ~ [card] ~ [card] ~ [card] {
    z-index: -3;
    display: flex;
    opacity: .5;
    filter: blur(3px);
    transform: translateY(-3.6rem) scale(.85);
    transition: transform 2.5s, opacity 2.5s, filter 2s;
    transition-delay: .7s;
  }
  [name="card-set"]:checked + [card] ~ [card] ~ [card] ~ [card] ~ [card] {
    z-index: -4;
    display: flex;
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-5rem) scale(.8);
    transition: transform 3s, opacity 3s, filter 2.5s;
    transition-delay: .8s;
  }
  
  [card] {
    display: flex;
    will-change: filter opacity transform;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(80, 82, 80);
    opacity: 0;
    transform: translateY(0) translateX(calc(-100% - 1rem)) scale(1);
    transition: transform .5s, opacity .2s .3s, filter .1s;
    transition-timing-function: ease-in;
    box-shadow: 0 .2rem 0 rgba(black, .2);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 220px;
  }
  [card]::before {
    content: '';
    display: block;
    padding-bottom: 130%;
  }
  [card] .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
  }
  /* next button */
  [card] label {
    color: white;
    display: inline-block;
    padding: 1rem 1rem;
    margin: 1rem;
    background-color: red;
  }
  